FIB      EQU   *
* int fib(n):
* IF
         LOAD  -3 * load  n
         CONST 0
* (n == 0) ?
         EQ    
         JMPF  @L10 * if they are NOT equal goto L10
* ELSE
         CONST 0 
         RET   

@L10     EQU   *
* IF
         LOAD  -3
         CONST 3
* (n < 3) ?
         LT    
         JMPF  @L20
* ELSE
         CONST 1
         RET

@L20     EQU
         LOAD  -3 * load n
         CONST 1

* [stack++] = n-1
         I_SUB 
         CALL  FIB,1
         LOAD  -3 * load n
         CONST 2

* [stack++] = n-2
         I_SUB
         CALL  FIB,1

* [stack++] = fib(n-1) + fib(n-2)
         I_ADD
         RET

MAIN     EQU   *
*        i = 0
         CONST 0
         GSTOR 0

@L42     EQU   *
*        fib(i)
         GLOAD 0
         CALL  FIB,1
         WRITE

*        i = i + 1
         GLOAD 0
         CONST 1
         I_ADD
         DUP
         GSTOR 0

*        (i < 10) ?
         CONST 10
         LT
         NOT
         JMPF  @L42

@LEXIT   EQU   *
         CONST 0
         HALT
